In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 35, 30, 40, 22],
    'Salary': [50000, 60000, 55000, 65000, 48000]
})

In [2]:
filtered_df = df[df['Age'] > 30]
print(filtered_df)

    Name  Age  Salary
1    Bob   35   60000
3  David   40   65000

In [3]:
filtered_df = df[(df['Age'] > 30) & (df['Salary'] > 60000)]
print(filtered_df)

    Name  Age  Salary
3  David   40   65000

In [4]:
print(df[df['Name'] == 'Alice'])

    Name  Age  Salary
0  Alice   25   50000

In [5]:
print(df[df['Salary'].isnull()])  # rows with missing salary
print(df[df['Salary'].notnull()])  # rows with non-missing salary

Empty DataFrame
Columns: [Name, Age, Salary]
Index: []
      Name  Age  Salary
0    Alice   25   50000
1      Bob   35   60000
2  Charlie   30   55000
3    David   40   65000
4      Eve   22   48000

In [6]:
print(df.query('Age > 30 and Salary < 65000'))

  Name  Age  Salary
1  Bob   35   60000