In [27]:
import pandas as pd

data = pd.DataFrame({
    'Department': ['Sales', 'Sales', 'Sales', 'HR', 'HR', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Salary': [50000, 50000, 70000, 55000, 55000, 65000]
})

In [28]:
data['Row_Number'] = data.groupby('Department')['Salary'].rank(method='first', ascending=True)
print(data)

  Department Employee  Salary  Row_Number
0      Sales    Alice   50000         1.0
1      Sales      Bob   50000         2.0
2      Sales  Charlie   70000         3.0
3         HR    David   55000         1.0
4         HR      Eve   55000         2.0
5         IT    Frank   65000         1.0

In [29]:
data['Rank'] = data.groupby('Department')['Salary'].rank(method='min', ascending=True)
print(data)

  Department Employee  Salary  Row_Number  Rank
0      Sales    Alice   50000         1.0   1.0
1      Sales      Bob   50000         2.0   1.0
2      Sales  Charlie   70000         3.0   3.0
3         HR    David   55000         1.0   1.0
4         HR      Eve   55000         2.0   1.0
5         IT    Frank   65000         1.0   1.0

In [30]:
data['Dense_Rank'] = data.groupby('Department')['Salary'].rank(method='dense', ascending=True)
print(data)

  Department Employee  Salary  Row_Number  Rank  Dense_Rank
0      Sales    Alice   50000         1.0   1.0         1.0
1      Sales      Bob   50000         2.0   1.0         1.0
2      Sales  Charlie   70000         3.0   3.0         2.0
3         HR    David   55000         1.0   1.0         1.0
4         HR      Eve   55000         2.0   1.0         1.0
5         IT    Frank   65000         1.0   1.0         1.0